*{
    font-size: 1.6rem;
}

section{
    border: 2.5px solid yellow;
    color: yellow;
    background-color: black;
    margin: 0.3rem;
    padding: 0.2rem;
}

article{
    border: 2.5px solid blue;
    color: blue;
    background-color: black;
    padding: 0.2rem 0.2rem 3rem;
    margin: 0.3rem;
}